body {
    font-family: Verdana, sans-serif;
    background: oldlace;
}

h1 {
    margin-top: 1.75em;
    color: rgb(240, 127, 127);
    border-bottom: 8px solid rgb(142, 218, 226);
    display: flex;
    flex-direction: row-reverse;
}

h3 {
    color: rgb(45, 45, 45);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    white-space: pre;
    text-decoration: line-through;     
    text-decoration-color: rgba(142, 218, 226, 0.25);
    text-decoration-thickness: 1.2em;
    margin-bottom: 0.5em;
    cursor:pointer;
    width: 0;
    text-align: right;
    transition: all 0.5s cubic-bezier(.32,1.35,.77,.99) 0ms;
}

h3:hover {
    width: 100%;
    color: rgba(35, 35, 35, 0.85);
    background-color: rgba(142, 218, 226, 0.25);
    text-decoration-color: transparent;
}

mark {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: transparent;
    color: rgb(240, 128, 128);
}

.MarginLeft {
    width: 20vw;
    position: fixed;
    margin-left: 2.5vw;
}

.MarginLeft .FixedComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MarginLeft #profile {
    max-height: 35vh;
    max-width: 75%;
    margin-top: 5vh;
}

.MarginLeft #buttons {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.MarginLeft #buttons .Link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.MarginLeft #buttons .Link a {
    font-size: 0;
    margin-left: 0em;
    transition: all 150ms ease 0ms;
    color: rgb(45, 45, 45);
    text-decoration: line-through;
    text-decoration-color: rgba(142, 218, 226, 0.25);
    text-decoration-thickness: 1.5em;
}

.MarginLeft #buttons .Link:hover a {
    margin-left: 1em;
    font-size: 1.2vw;
}


.MarginLeft #buttons .Link img {
    width: 2vw;
    height: auto;
}


.MainComponent {
    display: flex;
    flex-direction: column;
    margin-left: 25vw;
    padding-right: 12%;
}

.MainComponent .section {
    width: 100%;
    font-size: 2vw;
    align-self: center;
}

.MainComponent .section p {
    color: rgb(61, 61, 61);
    padding-left: 2%;
    margin-top: 0;
}

.MainComponent .project {
    margin-top: 5%;
}

@keyframes fadeIn {
    0% {display: none; opacity: 0;}
    1% {display: block; opacity: 0;}
    100% {display: block; opacity: 1;}
}

.MainComponent .project .projectDesc {
    display: none;
    visibility: hidden;
    animation-name: fadeIn;
    animation-duration: 200ms;
}

.MainComponent .project .trigger {
    display: none;
}

.MainComponent .project .trigger:checked + .projectDesc {
    display: block;
    visibility: visible;
}

.MainComponent .project .skills {
    display: flex;
    justify-content: end;
    color: MediumSeaGreen;
    font-size: smaller;
}

.MainComponent .project a {
    margin-bottom: 0.5em;
}

.MainComponent .project p a {
    margin-bottom: 0.5em;
    color: rgb(61, 61, 61);
    text-decoration-style: dotted;
}

.MainComponent .project img {
    width: 60%;
    margin: auto;
    display: block;
    border-radius: 5px 15px 15px 15px;
}

.MainComponent .project video {
    width: 60%;
    margin: auto;
    display: block;
    border-radius: 5px 15px 15px 15px;
}

#copyleft {
    filter: invert(85%) sepia(49%) saturate(4997%) hue-rotate(309deg) brightness(99%) contrast(91%);
}

#ethic {
    font-size: 1.1vw;
    color: MediumSeaGreen;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#ethic p {
    text-align: center;
}

#more table {
    color: rgb(61, 61, 61);
    padding-left: 4%;
}
